html {
    font-size: 10px;
}

html, body { 
    position: relative;
    max-width: 100%; 
    overflow-x: hidden; 
}

.container {
    max-width: 79.5rem;
    margin: auto;
}

body  {
    background-color: #161616;
}

.navbar-brand {
    font-size: 2.2rem;
}

.navbar {
    border-radius: .4rem;
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
}

.nav-link {
    color: #C84B31;
    font-family: 'Play', sans-serif;
}

.display-5 {
    font-family: 'Play', sans-serif;
}

.lead {
    font-size: 1.8rem;
    color: #ECDBBA;
    font-family: 'Jura', sans-serif;
}

.featurette-heading {
    color: #ECDBBA;
    font-family: 'Play', sans-serif;
}

.card-body {
    padding: 1rem 1rem;
    text-align: center;
}

.card-text, .card-text1, .card-text2, .map {
    display: flex;
    justify-content: center;
}

.card-text1 {
    font-size: 2rem;
}

.card-text2 {
    font-size: 2.5rem;
    font-family: 'Play', sans-serif;
}

.end {
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

.text-muted, .end {
    font-size: 1.8rem;
    font-family: 'Jura', sans-serif;
}

.otz1 {
    font-size: 5rem;
    font-family: 'Jura', sans-serif;
    color: #C84B31;
}

.otz {
    font-size: 2rem;
    text-align: justify;
}

.otziv-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-lg-4 {
    width: 100%;
}

.otziv-item {
    width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nam {
    font-size: 3.5rem;
    text-align: center;
}

.d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
}

@media screen and (max-width: 500px) {
    .d-flex {
        flex-direction: column;
    }

    .bg-dark {
        margin-bottom: .8rem;
    }
    .otziv-name {
        flex-direction: column;
    }
    .otziv-item {
        width: 30rem;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 65rem;
        margin: auto;
    }
}
